<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:max-width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div th:switch="${images}" class="container">
    <div th:case="null">
        <h3>No Images in the Gallery !!</h3>
    </div>



    <div th:case="*">

        <div class="jumbotron">
            <div class="display-5 my-4" style="font-family:'sen-serif';color:teal;">
                This List of images are Getting Consumed from "Lorem Picsum" using Open Feign Client.
            </div>
        </div>

            <div class="row">

                <div th:each="image : ${images}" class="card col-md-4">
                    <!--card-->
                        <div class="my-2">
                                <img th:src="@{${image.download_url}}" width="500px" height="400px" alt="Ohh noooo"/>
                                <!--card-body-->
                                <div class="card-body">
                                    <h3 class="card-title">Author is [[${image.author}]] </h3>
                                    <a th:href="@{${image.url}}" target="_blank" class="btn btn-primary">Go to Website</a>
                                </div>
                        </div>

                </div>
            </div>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>